<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-title>Lan Messenger</ion-title>
        </ion-col>
        <ion-col>
          <div class="ion-text-right remove-outline" routerLink="/settings">
            <ion-icon name="cog"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-tabs>
    <ion-tab-bar>
      <ion-tab-button tab="list">
        <!-- <ion-title>Chat</ion-title> -->
        <ion-icon name="chatbubbles"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="active">
        <!-- <ion-title>Active</ion-title> -->
        <ion-icon name="contacts"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

</ion-content>
